.projects {
  background-color: var(--col-dark);
}

.projects-content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.projects-cards-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1400px) {
  .projects-content {
    width: 80vw;
  }
}
