.project-card {
  position: relative;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* margin */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  /* sizing */
  width: 12.5rem;
  height: 16.625rem;
  /* stylign */
  border-radius: 0.625rem;
  color: var(--col-light);
  box-shadow: 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.1);
}

.no-hover {
  visibility: hidden;
}

.hover {
  visibility: visible;
}

.background-img {
  width: inherit;
  border-radius: 0.625rem;
  position: absolute;
  height: inherit;
  opacity: 0.5;
}

.learn-more {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.3);
  border-radius: 0.5rem;
}
@media (max-width: 800px) {
  .project-card {
    width: 9.375rem;
    height: 12.5rem;
  }
}

@media (max-width: 460px) {
  .project-card {
    width: 7.0625rem;
    height: 9.375rem;
  }
}
