.whoami {
  background-color: var(--col-light);
}

.whoami-content {
  width: 35vw;
}

.hobies {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.hobies-two {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.upper-wave {
  position: absolute;
  top: -0.5rem;
}

.bottom-ball {
  position: absolute;
  bottom: -10vh;
  left: -5vh;
  width: 20vh;
  height: 20vh;
  background-color: var(--col-dark);
  border-radius: 50%;
}

@media (max-width: 1300px) {
  .whoami-content {
    width: 60vw;
  }

  .hobies-two {
    width: 75%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 750px) {
  .whoami-content {
    width: 70vw;
  }

  .hobies {
    visibility: hidden;
  }
}
