* {
  padding: 0%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --col-dark: #1a1a1a;
  --col-light: #fff;
  --col-pink: #c2185b;
}

.app {
  overflow-x: hidden;
}

.txt-pink {
  color: var(--col-pink);
}

.txt-dark {
  color: var(--col-dark);
}

.txt-light {
  color: var(--col-light);
}

.txt-sb {
  font-size: 48px;
}

.txt-sm {
  font-size: 36px;
}

.txt-ss {
  font-size: 24px;
}

.txt-wb {
  font-weight: 600;
}

.txt-wm {
  font-weight: 400;
}

.txt-ws {
  font-weight: 200;
}

@media (max-width: 800px) {
  .txt-sb {
    font-size: 36px;
  }

  .txt-sm {
    font-size: 24px;
  }

  .txt-ss {
    font-size: 18px;
  }
}
